#sidebar {
    /*position: fixed;*/
}

#sidebar {
    position: fixed;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
    min-height : 920px;
    height: 100%;
    /*padding: 3rem 2rem;*/

    /*width: 25%;*/
}
#main-view{
    /*width : 1470px;*/
    width : 1330px;
    /*position: fixed;*/
}
#content {
    float: right;
    /*width : 1160px;*/

    width : 1020px;
    padding: 3rem 3rem;
    overflow: hidden;
}

.bian {
    text-decoration:underline;
}


